{# ai:component=cart-actions map=@component_cart-actions_map.mdc v=1 #}
<div class="mt-6 flex justify-end">
  <a href="{{ path('checkout_page') }}" class="inline-flex items-center px-4 py-2 rounded bg-black text-white hover:bg-gray-900">
    Оформить заказ
  </a>
</div>


