{% extends 'layout.html.twig' %}

{% block body %}
  {% block catalog_header %}{% include 'catalog/layouts/header.html.twig' %}{% endblock %}
  {% block catalog_navbar %}{% include 'catalog/layouts/navbar.html.twig' %}{% endblock %}
  {% include 'catalog/layouts/breadcrumbs.html.twig' %}

  {% block catalog_body %}{% endblock %}

  {% if app.request.get('_route') == 'catalog_index' %}
    <div id="catalog-app"></div>
  {% endif %}

  {% block catalog_footer %}{% include 'catalog/layouts/footer.html.twig' %}{% endblock %}
{% endblock %}





