{# ai:page=catalog_index map=@page_catalog_index_map.mdc v=1 #}
{% extends 'catalog/base.html.twig' %}

{% block catalog_body %}
  <div class="container mx-auto  px-4 py-16 sm:px-6 sm:py-24  lg:px-8">
    {% set gridTitle = 'Хиты продаж' %}
    <div data-module="product-slider">
      {% include 'catalog/category/_grid.html.twig' with { products: products, gridTitle: gridTitle, isInSlider: true } %}
    </div>
  </div>
{% endblock %}


